<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gobierno de ESPAÑA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../css/jquery-ui.min.css" />
    <link type="text/css" rel="stylesheet" href="../css/jquery-ui.structure.min.css" />
    <link type="text/css" rel="stylesheet" href="../css/jquery-ui.theme.min.css" />
    <link type="text/css" rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/mesa.js"></script>
</head>

<body>

    <nav class="blue darken-4">
        <div class="nav-wrapper container ">
            <a href="/" class="brand-logo"><img src="../css/images/logo.png"></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="" href="/programas">Programas</a></li>
                <li class="active"><a href="/mesa">Miembros de Mesa</a></li>
                <li><a class="" href="/acceso">Acceso</a></li>
                <li><a class="" href="/resultados">Resultados</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a class="" href="/programas">Programas</a></li>
        <li class="active"><a href="/mesa">Miembros de Mesa</a></li>
        <li><a class="" href="/acceso">Acceso</a></li>
        <li><a class="" href="/resultados">Resultados</a></li>
    </ul>

    <div class="parallax-container mesa">
        <div class="parallax"><img src="../css/images/introduciendo.jpg"></div>
    </div>
    <div class="section white">
        <div class="row container">
            <h3 class="header mesa">Consulte aquí si ha sido asignado a una mesa electoral.</h3>
            <div class="container">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <i class="material-icons prefix blue-text text-darken-4 large">account_circle</i>
                                <input id="dni" type="text" class="validate">
                                <label for="dni">DNI</label>
                                <span class="helper-text" ></span>
                            </div>
                            <div class="input-field col s12 m6">
                                <i class="material-icons prefix blue-text text-darken-4 large">lock</i>
                                <input id="firma_digital" type="text" class="validate">
                                <label  for="firma_digital">Firma Digital</label>
                                <span class="helper-text" ></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <button class="btn waves-effect blue darken-4 waves-light" type="button" id="check" name="action">Comprobar
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                            
                        </div>
                        <div class="row" >
                                <div class="col s12" id="resultado">
                                    
                                </div>
                            </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="parallax-container mesa">
        <div class="parallax"><img src="../css/images/papeleta.jpg"></div>
    </div>

    <footer class="page-footer blue darken-4">
        <div class="footer-copyright">
            <div class="container">
                <span class="bottom">© 2019 Gobierno de España - Ministerio del Interior</span>
                <a class="grey-text text-lighten-4 right" href="http://www.youtube.com/interiorgob" target="_blank"><i
                        class="fab fa-youtube"></i></a>
                <a class="grey-text text-lighten-4 right" href="https://twitter.com/interiorgob" target="_blank"><i
                        class="fab fa-twitter-square"></i></a>
                <a class="grey-text text-lighten-4 right" href="http://www.flickr.com/photos/interior_gob_es/" target="_blank"><i
                        class="fab fa-flickr"></i></a>
                <a class="grey-text text-lighten-4 right" href="http://www.interior.gob.es/" target="_blank"><i class="fas fa-at"></i></a>
            </div>
        </div>
    </footer>

</body>

</html>