<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gobierno de ESPAÑA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../css/jquery-ui.min.css" />
    <link type="text/css" rel="stylesheet" href="../css/jquery-ui.structure.min.css" />
    <link type="text/css" rel="stylesheet" href="../css/jquery-ui.theme.min.css" />
    <link type="text/css" rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/programas.js"></script>
</head>

<body>

    <nav class="blue darken-4">
        <div class="nav-wrapper container ">
            <a href="/" class="brand-logo"><img src="../css/images/logo.png"></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="active"><a href="/programas">Programas</a></li>
                <li><a class="" href="/mesa">Miembros de Mesa</a></li>
                <li><a class="" href="/acceso">Acceso</a></li>
                <li><a class="" href="/resultados">Resultados</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li class="active"><a href="/programas">Programas</a></li>
        <li><a class="" href="/mesa">Miembros de Mesa</a></li>
        <li><a class="" href="/acceso">Acceso</a></li>
        <li><a class="" href="/resultados">Resultados</a></li>
    </ul>

    <div class="parallax-container programasp">
        <div class="parallax"><img src="../css/images/marcar_casilla.jpg"></div>
    </div>
    <div class="section white">
        <div class="container">
            <h3 class="header center">Haga click en la imagen de la candidatura a consultar</h3>
        </div>

        <div class="container programas ">
            <div class="row center">
                <div class="col s12 m6 xl4 valign-wrapper">
                    <a class="modal-trigger" href="#modal1" id="1"><img src="../css/images/pp_sinfondo.png"></a>
                </div>
                <div class="col s12 m6 xl4 valign-wrapper">
                    <a class="modal-trigger" href="#modal1" id="2"><img src="../css/images/psoe_sinfondo.png"></a>
                </div>
                <div class="col s12 m6 xl4 valign-wrapper">
                    <a class="modal-trigger" href="#modal1" id="3"><img
                            src="../css/images/podemos_sinfondo.png"></a>
                </div>
            </div>
            <div class="row center">
                <div class="col s12 m6 xl4 valign-wrapper">
                    <a class="modal-trigger" href="#modal1" id="4"><img
                            src="../css/images/ciudadanos_sinfondo.png"></a>
                </div>
                <div class="col s12 m6 xl4 valign-wrapper">
                    <a class="modal-trigger" href="#modal1" id="5"><img src="../css/images/esquerra.png"></a>
                </div>
                <div class="col s12 m6 xl4 valign-wrapper">
                    <a class="modal-trigger" href="#modal1" id="6"><img src="../css/images/Democracia_i_Llibertat.png"></a>
                </div>
            </div>
            <div class="row center">
                <div class="col s12 m6 xl4 valign-wrapper">
                    <a class="modal-trigger" href="#modal1" id="7"><img src="../css/images/pnv_sinfondo.png"></a>
                </div>
                <div class="col s12 m6 xl4 valign-wrapper">
                    <a class="modal-trigger" href="#modal1" id="8"><img src="../css/images/bildu_sinlogo.png"></a>
                </div>
                <div class="col s12 m6 xl4 valign-wrapper">
                    <a class="modal-trigger" href="#modal1" id="9" ><img
                            src="../css/images/vox_sinfondo.png"></a>
                </div>
            </div>
            <!-- Modal Structure -->
            <div id="modal1" class="modal modal-fixed-footer">
                <div class="modal-content">
                    
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
                </div>
            </div>

        </div>
    </div>
    <div class="parallax-container programasp">
        <div class="parallax"><img src="../css/images/papeleta.jpg"></div>
    </div>

    <footer class="page-footer blue darken-4">
        <div class="footer-copyright">
            <div class="container">
                <span class="bottom">© 2019 Gobierno de España - Ministerio del Interior</span>
                <a class="grey-text text-lighten-4 right" href="http://www.youtube.com/interiorgob" target="_blank"><i
                        class="fab fa-youtube"></i></a>
                <a class="grey-text text-lighten-4 right" href="https://twitter.com/interiorgob" target="_blank"><i
                        class="fab fa-twitter-square"></i></a>
                <a class="grey-text text-lighten-4 right" href="http://www.flickr.com/photos/interior_gob_es/" target="_blank"><i
                        class="fab fa-flickr"></i></a>
                <a class="grey-text text-lighten-4 right" href="http://www.interior.gob.es/" target="_blank"><i class="fas fa-at"></i></a>
            </div>
        </div>
    </footer>

</body>

</html>